*{margin:0;
padding:0; 
box-sizing: border-box;}

.top{
position: absolute;
top: 0;
right: 0;
width: 434px;
height: 18px;
background: #FDBD03 0% 0% no-repeat padding-box;

}

.icon{


    width: 130px;
    height: 130px;
    border-radius: 100%;
    background: orange;
    position: absolute;
    top: calc(100% / 14);
    left: calc(100% / 45); 
    display: flex;
    
}

img{
height: 80px;
width: 80px;
margin: auto;
}

.text-field{

    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    padding: 500px;
    position: relative;
}

.photo{
    width: 40%;
    height: 50vh;
    background-image: url(../photo/text.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    
}

.datta{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50vh;
    text-align: center;
    gap: 10px;
}

.datta > h1{
  
    
    margin: 20px;
    font: normal normal 900 66px/97px 'Heebo';
    letter-spacing: 0px;
    color: #FDBD03;
    opacity: 1;
}

.datta > p{
margin: 20px;
font: normal normal normal 20px/29px 'Heebo';
letter-spacing: 0px;
color: #020253;
opacity: 1;
}

.tofes-r {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
}

.input-group {
    display: flex;
    flex-direction: column; 
    margin: 0 10px; 
}

.input-text {
    width: 418px;
    height: 50px;
    background: #E5EEFF;
    opacity: 1;
    border: 0;
border-bottom: #FDBD03 solid 4px; 
}

label{

text-align: right;
font: normal normal bold 16px/24px 'Heebo';
letter-spacing: 0px;
color: #2C2C2C;
opacity: 1;

}



textarea{
margin: auto;
width: 854px;
height: 143px;
background: #E5EEFF 0% 0% no-repeat padding-box;
opacity: 1;
border: 0;
border-bottom: #FDBD03 solid 4px; 
}

.kaftor{
top: 765px;
left: 872px;
width: 166px;
height: 50px;
background: #FDBD03 0% 0% no-repeat padding-box;
opacity: 1;
text-align: center;
font: normal normal bold 22px/30px 'Heebo';
letter-spacing: 0.33px;
color: #000000;
opacity: 1;
}

.footer{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.icons
{
    
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
   
}

.bground{
    width: 130px;
    height: 130px;
    border-radius: 70%; 
    background: orange;
    position: relative;
    left: calc(100% / 12); 
    top: -50px; 
    display: flex;
    
}

.bground-n{
    width: 130px;
    height: 130px;
    border-radius: 70%; 
    background: orange;
    position: relative;
    left: calc(100% / 11); 
    top: -50px; 
    display: flex;
    
   
}

.bground-f{
    width: 130px;
    height: 130px;
    border-radius: 70%; 
    background: orange;
    position: relative;
    left: calc(100% / 10); 
    top: -50px; 
    display: flex;
    
   
}


.bground-p{
    width: 130px;
    height: 130px;
    border-radius: 70%; 
    background: orange;
    position: relative;
    left: calc(100% / 8); 
    top: -50px; 
    display: flex;
    
   
}

.bground-in{
    width: 130px;
    height: 130px;
    border-radius: 70%; 
    background: orange;
    position: relative;
    left: calc(100% / 9); 
    top: -50px; 
    display: flex;
    
   
}

.foot{
   position:absolute;
bottom:  0;
   left: 0;
    width: 1038px;
    height: 18px;
    background: #FDBD03 0% 0% no-repeat padding-box;
  
}

.phone {
    display: none; 
}



    


@media (max-width: 780px) {
    .icon{
       
        position: absolute;
        top: 0!important;
        

    }
    .top {
        height: 10px; 
    }

    .text-field {
        padding: 20px; 
       
    }

.tofes-r{

    display: flex;
    flex-direction: column; 
    width: 40%;
    margin: auto;  
}

    .datta > h1 {
        font-size: 28px; 
        margin: auto;
    }

    .datta > p {
        font-size: 16px;
        margin: auto; 
    }

    .input-text, textarea {
        width: 90%; 
        height: auto; 
    }

    .kaftor {
        font-size: 18px;
        width: 25%;
        margin: auto;

    }

    .footer{
        display: none;
    }
    .phone{

            display: flex; 
            flex-wrap: wrap; 
            justify-content: center;
            gap: 10px;
            width: 100%;
            height: 20vh;
            background: orange;
        }
    
        .mobile-image {
            background-size: cover;
            width: 10%; 
            height: 75px; 
            margin: 5px; 
        }
    }
        
   
